In [2]:
#min, max, and sum
import pandas as pd

In [9]:
required_cols = ['Country',
                 'Population',
                 'Coastline (coast/area ratio)',
                 'GDP ($ per capita)',
                 'Literacy (%)',
                 'Birthrate']
countries = pd.read_csv('countries_of_the_world.csv', 
                        usecols=required_cols, 
                       decimal = ',')

In [5]:
countries.head()

,Country,Population,Coastline (coast/area ratio),GDP ($ per capita),Literacy (%),Birthrate
0,Afghanistan,31056997,0.00,700.0,36.0,46.60
1,Albania,3581655,1.26,4500.0,86.5,15.11
2,Algeria,32930091,0.04,6000.0,70.0,17.14
3,American Samoa,57794,58.29,8000.0,97.0,22.46
4,Andorra,71201,0.00,19000.0,100.0,8.71

In [10]:
#use the column.rename function to simplify names
countries.rename(columns = {'GDP ($ per capita)': 'PerCapitaGDP',
                            'Literacy (%)': 'LiteracyRate',
                            'Coastline (coast/area ratio)': 'CoastlineAreaRatio'
                           },
                 inplace=True)
countries.head()

,Country,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
0,Afghanistan,31056997,0.00,700.0,36.0,46.60
1,Albania,3581655,1.26,4500.0,86.5,15.11
2,Algeria,32930091,0.04,6000.0,70.0,17.14
3,American Samoa,57794,58.29,8000.0,97.0,22.46
4,Andorra,71201,0.00,19000.0,100.0,8.71

In [12]:
#verify there are no missing values
countries['Population'].isna().sum()

0

In [13]:
#find sum of populations across all countries for the world population.
world_population = countries['Population'].sum()
world_population

6524044551

In [19]:
#find 
countries.isna().sum()

Country               0
Population            0
CoastlineAreaRatio    0
PerCapitaGDP          0
LiteracyRate          0
Birthrate             0
dtype: int64

In [17]:
countries.isna().sum()

Country                0
Population             0
CoastlineAreaRatio     0
PerCapitaGDP           1
LiteracyRate          18
Birthrate              3
dtype: int64

In [18]:
countries = countries.dropna()

In [20]:
countries.isna().sum()

Country               0
Population            0
CoastlineAreaRatio    0
PerCapitaGDP          0
LiteracyRate          0
Birthrate             0
dtype: int64

In [21]:
countries.shape

(207, 6)

In [23]:
countries['LiteracyRate'].max()

100.0

In [24]:
countries['LiteracyRate'].min()

17.6

In [25]:
#get record with the min value
countries.LiteracyRate.idxmin()

151

In [31]:
#return the row with the lowest literacy rate
countries['Country'][countries.LiteracyRate.idxmin()]

'Niger '

In [32]:
countries.LiteracyRate.idxmax()

4

In [33]:
countries['Country'][countries.LiteracyRate.idxmax()]

'Andorra '

In [36]:
#perform a conditional check - find all contries where the literacy rate is = max literacy value.
countries[countries.LiteracyRate == countries.LiteracyRate.max()]

,Country,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
4,Andorra,71201,0.00,19000.0,100.0,8.71
11,Australia,20264082,0.34,29000.0,100.0,12.14
54,Denmark,5450661,16.97,31100.0,100.0,11.13
68,Finland,5231372,0.37,27400.0,100.0,10.45
119,Liechtenstein,33987,0.00,25000.0,100.0,10.21
121,Luxembourg,474413,0.00,55100.0,100.0,11.94
154,Norway,4610820,7.77,37800.0,100.0,11.46

In [37]:
####### STATISTICAL OPERATIONS ######
#mean, median, 
countries.LiteracyRate.mean()

82.94782608695651

In [38]:
countries.LiteracyRate.median()

92.5

In [39]:
#standard deviation
countries.LiteracyRate.std()

19.672122668886164

In [40]:
#get 50th percentile
countries.LiteracyRate.quantile(0.5)

92.5

In [41]:
#get back numbers at specific percentages (25%, 50%, 75%, 100%)
countries.LiteracyRate.quantile([0.25, 0.5,0.75, 1])

0.25     72.4
0.50     92.5
0.75     98.0
1.00    100.0
Name: LiteracyRate, dtype: float64

In [42]:
#describe - statstically measures stats for each of the column
countries.describe()

,Population,CoastlineAreaRatio,PerCapitaGDP,LiteracyRate,Birthrate
count,2.070000e+02,207.000000,207.000000,207.000000,207.000000
mean,3.138708e+07,18.773043,9675.362319,82.947826,22.312802
std,1.231555e+08,73.449820,10170.021706,19.672123,11.188104
min,7.026000e+03,0.000000,500.000000,17.600000,7.290000
25%,7.329150e+05,0.100000,1900.000000,72.400000,12.835000
50%,5.900754e+06,0.700000,5500.000000,92.500000,18.900000
75%,2.024316e+07,7.415000,14700.000000,98.000000,29.770000
max,1.313974e+09,870.660000,55100.000000,100.000000,50.730000

In [43]:
#calculate mode of a particular column
countries.LiteracyRate.mode()

0    99.0
Name: LiteracyRate, dtype: float64

In [44]:
countries.LiteracyRate.skew()

-1.233903412331758

In [45]:
#correlation
countries.corr()

ValueError: could not convert string to float: 'Afghanistan '