In [4]:
import pandas as pd

In [5]:
series_of_nums = pd.Series([3,4,7,2,9])

In [9]:
series_of_letters = pd.Series(['a','b','c','d','e'])

In [14]:
#axis = 0?  perform in a rowwise manner
#axis = 1?  perform in columnwise manner

#column-wise
df_col = pd.concat([series_of_nums, series_of_letters], axis=1)
df_col

#pandas assigns names to columns if they aren't provided.

   0  1
0  3  a
1  4  b
2  7  c
3  2  d
4  9  e

In [13]:
#axis = 0?  perform in a rowwise manner
#axis = 1?  perform in columnwise manner

#row-wise
df_row = pd.concat([series_of_nums, series_of_letters], axis=0)
df_row

0    3
1    4
2    7
3    2
4    9
0    a
1    b
2    c
3    d
4    e
dtype: object